@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>

</head>

<body style="background-color:#1d1d1d;margin-left:auto;margin-right:auto;">
    <div class="grid">
        <div class="row">
            <div class="cell"><p style="color:white;font-size:50px;text-align:center">SERVICE REPOSITORY</p></div>
        </div>
        <div class="row">
            <div class="cell"><p style="color:white;text-align:center">An SOA repository is a database containing the software and metadata that constitute an SOA registry. The registry is an evolving, interactive, controlled-access catalog that facilitates the management of SOA (service-oriented architecture) projects, allowing businesses to easily discover and communicate with each other using Web services.</p></div>
        </div>
        <hr />
        <div class="row cells3">
            <div class="cell">
                <span class="tile-label" style="color:white;">Label</span>
                <div class="tile-large">
                    <div class="tile-content">
                        <div class="carousel" data-role="carousel" data-control-next=" " data-control-prev=" ">
                            <div class="slide">
                                <div class="tile-large" style="margin:0px;">
                                    <div class="tile-content">
                                        <div class="image-container">
                                            <div class="frame">
                                                987987<img src=" ~/Content/Resources/4.jpg">
                                            </div>
                                            <div class="image-overlay">
                                                Overlay text
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="tile-large" style="margin:0px;">
                                    <div class="tile-content">
                                        <div class="image-container">
                                            <div class="frame">
                                                <img src=" ~/Content/Resources/1.jpg">
                                            </div>
                                            <div class="image-overlay">
                                                Overlay text
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="tile-large" style="margin:0px;">
                                    <div class="tile-content">
                                        <div class="image-container">
                                            <div class="frame">
                                                <img src=" ~/Content/Resources/2.jpg">
                                            </div>
                                            <div class="image-overlay">
                                                Overlay text
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="tile-large" style="margin:0px;">
                                    <div class="tile-content">
                                        <div class="image-container">
                                            <div class="frame">
                                                <img src=" ~/Content/Resources/3.jpg">
                                            </div>
                                            <div class="image-overlay">
                                                Overlay text
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell">
                <span class="tile-label" style="color:white;">Label</span>
                <div class="tile-large">
                    <div class="tile-content">
                        <div class="carousel" data-role="carousel" data-control-next=" " data-control-prev=" ">
                            <div class="slide">
                                <div class="tile-large" style="margin:0px;">
                                    <div class="tile-content">
                                        <div class="image-container">
                                            <div class="frame">
                                                987987<img src=" ~/Content/Resources/4.jpg">
                                            </div>
                                            <div class="image-overlay">
                                                Overlay text
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="tile-large" style="margin:0px;">
                                    <div class="tile-content">
                                        <div class="image-container">
                                            <div class="frame">
                                                <img src=" ~/Content/Resources/1.jpg">
                                            </div>
                                            <div class="image-overlay">
                                                Overlay text
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="tile-large" style="margin:0px;">
                                    <div class="tile-content">
                                        <div class="image-container">
                                            <div class="frame">
                                                <img src=" ~/Content/Resources/2.jpg">
                                            </div>
                                            <div class="image-overlay">
                                                Overlay text
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="tile-large" style="margin:0px;">
                                    <div class="tile-content">
                                        <div class="image-container">
                                            <div class="frame">
                                                <img src=" ~/Content/Resources/3.jpg">
                                            </div>
                                            <div class="image-overlay">
                                                Overlay text
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell">
                <span class="tile-label" style="color:white;">Label</span>
                <div class="tile-large">
                    <div class="tile-content">
                        <div class="carousel" data-role="carousel" data-control-next=" " data-control-prev=" ">
                            <div class="slide">
                                <div class="tile-large" style="margin:0px;">
                                    <div class="tile-content">
                                        <div class="image-container">
                                            <div class="frame">
                                                987987<img src=" ~/Content/Resources/4.jpg">
                                            </div>
                                            <div class="image-overlay">
                                                Overlay text
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="tile-large" style="margin:0px;">
                                    <div class="tile-content">
                                        <div class="image-container">
                                            <div class="frame">
                                                <img src=" ~/Content/Resources/1.jpg">
                                            </div>
                                            <div class="image-overlay">
                                                Overlay text
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="tile-large" style="margin:0px;">
                                    <div class="tile-content">
                                        <div class="image-container">
                                            <div class="frame">
                                                <img src=" ~/Content/Resources/2.jpg">
                                            </div>
                                            <div class="image-overlay">
                                                Overlay text
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="tile-large" style="margin:0px;">
                                    <div class="tile-content">
                                        <div class="image-container">
                                            <div class="frame">
                                                <img src=" ~/Content/Resources/3.jpg">
                                            </div>
                                            <div class="image-overlay">
                                                Overlay text
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="tile-group">
            <div class="tile">
                <img src=" ~/Content/Resources/1.jpg" />
            </div>
            <div class="tile">
                <img src=" ~/Content/Resources/1.jpg" />
            </div>
            <div class="tile">
                <img src=" ~/Content/Resources/1.jpg" />
            </div>
            <div class="tile">
                <img src=" ~/Content/Resources/1.jpg" />
            </div>
            <div class="tile">
                <img src=" ~/Content/Resources/1.jpg" />
            </div>
        </div>
    </div>
</body>
</html>


